#El environment puede ser PROD y LOCAL
ENVIRONMENT=PROD
AWS_REGION=us-east-1
AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=AWS_ID
AWS_SECRET_ACCESS_KEY=AWS_KEY
# En caso de que sea local se debe actualizar la url a http://dynamodb-local:8000
AWS_DYNAMODB_ENDPOINT=https://dynamodb.us-east-1.amazonaws.com
AWS_DYNAMODB_TABLE_NAME=franchise
